footer{
    text-align: center;
    margin-top: 20px;
}
.col{
    background: steelblue;
}
.col-7{
}
.img{
    padding: 0;
    max-width: 100%;
    height: auto;
}
#entire_page{
    margin-top: 100px;;
}
#product_page{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}
