
#contact_container{
    padding-top: 50px;
}

#aboutus{
    text-align: center;
    padding-bottom: 20px;
}

#paragraph{
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
}

#contactdiv{
    padding-top: 10px;
    padding-bottom: 50px;
    outline-style: solid;
    outline-color: gray;
}

#contactus{
    padding-bottom: 10px;
    margin-left: 20px;
}

ul{
    list-style: none;
}

li label{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}

li input{
    display: block;
}

li textarea{
    display: block;
}

#submit{
    margin-left: 45px;
}

