#entire_product_template{
    margin-top: 150px;
}
.col-md-4 {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 40px;
}
.card-body{
    padding-left: 25px;
}
.col-md-4 {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 40px;
}
.card-body{
    padding-left: 25px;
}
