#page_content{
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid silver;
    display: block;
}
#product{
    padding-top: 50px;
}
#product_image{
}
#product_body{
    margin-left: 100px;
}
#table{
    margin-top: 50px;
}
#proscons{
    padding-top: 50px;
    padding-bottom: 25px;
    border-top: 1px solid silver;
}
#attributes{
    padding-top: 50px;
    padding-bottom: 25px;
    border-top: 1px solid silver;
}

