<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		{% include 'snippets/css.html' %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
	</head>
	<body>

	<nav class="navbar navbar-inverse navbar-toggleable-md bg-inverse">
		<div class="container">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="/">GearBanana</a>

		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-md-0">
			  <li class="nav-item">
				<a class="nav-link" href="#">Compare</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/contact/">Contact Us</a>
			  </li>
			</ul>
		  </div>
		</div>
	</nav>

	<div style="text-align:center">
		<a href="/mouse/" class="btn btn-info" role="button">Mouse</a>
		<a href="/keyboard/" class="btn btn-info" role="button">Keyboard</a>
		<a href="/gpu/" class="btn btn-info" role="button">GPU</a>
		<a href="/controller/" class="btn btn-info" role="button">Controller</a>
		<a href="/headset/" class="btn btn-info" role="button">Headset</a>
	</div>

	<div class="row" id="entire_page">
		<div class="col">
			TEMP CONTENT
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
		</div>
		<div class="col-7">
			<div class="container" id="content_section">
                <div class="row" id="product_page">
                    {% block content %}{% endblock content %}
                </div>
			</div>
		</div>
		<div class="col">
			TEMP CONTENT
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120" target="_blank">
				<img class="img" src="https://lh3.ggpht.com/3q0W5UdEjoVjCVFo4l5aJoAg2-ElBSpBSvcMwuGKG_RNyrePKwSA54ZMaqA_EpEBpBi00hF0=w120"alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
			<a href="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" target="_blank">
				<img class="img" src="https://storage.googleapis.com/support-kms-prod/SNP_3094702_en_v0" alt="Card image cap">
			</a>
		</div>
	</div>


    <footer class="footer">
      <div class="container" id="footer">
        <p class="text-muted">Copyright &copy; 2017 by GearBanana</p>
      </div>
    </footer>

	{% include 'snippets/js.html' %}
	</body>
</html>
