{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}"/>

<div class="container" id="contact_container">
	<header>
	<h1 id="aboutus"> About Us </h1>
	<p id="paragraph"> talk about what this website is intended for and what its not
		intended for. explain what we are trying to do and what we are trying
		to provide. put some disclaimers and thank people for using our site. </p>
	</header>
	<div id="contactdiv">
		<h1 id="contactus"> Contact Us </h1>
		<form action="{{ action }}" method="post" id="mainform">

			{% csrf_token %}
			<ul> {{ form.as_ul }} </ul>
			<input type="submit" value="Submit" id="submit"/>

			{% if messages %}
			  <ul class="messages">
				{% for message in messages %}
				<div class="alert alert-success" role="alert" id="submitdiv">
					<li class="{{ message.tags }}">{{ message }}</li>
				</div>
				{% endfor %}
			  </ul>
			{% endif %}

		</form>
	</div>
</div>
{% endblock content %}
