{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/multiple.css" %}"/>

{% for product in results %}
<div class="col-md-4" id="multiple_col">
    <div class="card" style="width: 18rem;">
        <a href="/product/{{product.id}}">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
        </a>
        <div class="card-body" id="card_body">
            <a href="/product/{{product.id}}" class="card-link">{{product.name}}</a>
            <p class="card-text">{{product.price}}</p>
        </div>
    </div>
</div>
{% endfor %}
