{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/product.css" %}"/>


<div id="page_content">
    <div class="media" id="product">
        {% for product in results %}
        <a href="{{product.amazon_url}}" target="_blank" id="product_image">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
        </a>
        <div class="media-body" id="product_body">
            <h5 class="mt-0">{{product.name}}</h5>
            <h5 class="mt-0">{{product.price}}</h5>
            <a href="{{product.amazon_url}}" target="_blank">Straight To Amazon</a>
        </div>
        {% endfor %}
    </div>
    <div id="table">
        <div class="col-sm" id="proscons">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Pros</th>
                        <th scope="col">Cons</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro, con in pro_con %}
                    <tr>
                        <th scope="row">{{pro}}</th>
                        <th scope="col">{{con}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm" id="attributes">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Attributes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attribute in attributes %}
                    <tr>
                        <th scope="row">{{attribute}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
